@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

body{
    background-color: cadetblue;
    font-family: "Sedan SC", serif;
}

button{
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 30px;
    border: black 6px groove;
}

h1{
    font-size: 50px;
}